<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <setting type="lsep" label="This addon doesn't have any configuration options." />
    <setting type="sep" />

    <setting id="notify" default="0" visible="false" />
    <setting id="vpn" default="0" visible="true" />

</settings>
